body{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);
}

h1{
  color: white;
  font-style: normal;

  font-size: 30px;

}

h3{
  color: white;
  font-size: 15px;
}

.form{
  display: grid;
  justify-content: center;
  
}
.formulario{
  display: block;
  width: 400px;
  border: 1px dashed white;
  padding: 20px;
  background: rgb(58,52,161);
background: linear-gradient(291deg, rgba(58,52,161,1) 0%, rgba(51,51,198,1) 84%, rgba(0,212,255,1) 100%);
}

.boton-habilitado{
  display: block;
  margin: 0px auto;
  color: white;
  border: .9px solid white ;
  border-radius: 15px;
  background-color: rgba(0, 255, 255, 0);
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  

}

.boton-deshabilitado{
  display: block;
  margin: 0px auto;
  color: rgb(116, 116, 116);
  border: .9px solid rgb(116, 116, 116) ;
  border-radius: 15px;
  background-color: rgba(0, 255, 255, 0);
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  outline: none;
  

}

input[type="text"],
input[type="password"] {
  border-radius: 7px;
  border: 2px solid rgb(212, 210, 210);
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-radius: 7px;
  border: 3px solid rgb(37, 186, 223);
  outline: none;
}



.container-form{
  margin-top: 100px;
  width: 100vw;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-self: center;
  

}

.perri{
  position: absolute;
  left:0;
  height: 400px;
  width: 300px;
}
.perri2{
  position: absolute;
  right: 0;
  height: 400px;
  width: 300px;
  margin-right: 10px;
}
